/* Global Styles */
@font-face {
	font-family: 'VerelaRound';
	src: url('VarelaRound-Regular.eot'); /* IE9 Compat Modes */
	src: url('VarelaRound-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('VarelaRound-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('VarelaRound-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
html,
body {
  height: 100%;
  width: 100%;
  color:#7a7a7a;
  font-family:"VerelaRound";
}
h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 0px;
  margin-bottom: 0;
  padding: 20px 0
}
#boxWrapp{
  width:100%;
  margin:0 auto;
  padding:0;
  overflow:hidden;
}

/* =============================== header ===================================== */
.header {
  background: url(../img/bghead.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
  position:relative;
}
.maskHeader{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(42, 163, 173, 0.8);
}

.vert-text {
  width:100%;
  vertical-align: middle;
  text-align: center;
  padding:0 0;
  color:#fff;
  position:absolute;
  bottom:50%;
  left:50%;
  transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
  -moz-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  -o-transform: translate(-50%, 50%);
}
.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 60px;
  font-weight: 600;
  color:#fff;
}
.vert-text h2{
  color:#426369;
  font-size: 48px;
}

/* ========================================== Responsive ======================================================= */

@media screen and (min-width:240px) and (max-width: 1024px){
  .vert-text h1 {
    font-size: 48px;
  }
  .vert-text h2 {
    font-size: 36px;
  }
}

@media screen and (min-width:240px) and (max-width: 660px){
  .vert-text h1 {
    font-size: 36px;
  }
  .vert-text h2 {
    font-size: 21px;
  }
}
